# 2. Pandas.Series

In [1]:
import pandas as pd

## SERIES КАК СТРУКТУРА ДАННЫХ

Создание. Способ 1

In [15]:
countries = pd.Series(
    data=["Англия", "Канада", "США", "Россия", "Украина", "Беларусь", "Казахстан"],
    index=["UK", "CA", "US", "RU", "UA", "BY", "KZ"],
    name="countries"
)

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

### Создание. Способ 2

In [16]:
countries = pd.Series(
    {
        "UK": "Англия",
        "CA": "Канада",
        "US": "США",
        "RU": "Россия",
        "UA": "Украина",
        "BY": "Беларусь",
        "KZ": "Казахстан",
    },
    name="countries",
)

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

Примечание. Если оставить параметр index пустым, то метки будут присвоены автоматически в виде порядковых номеров элементов, например:

In [17]:
countries = pd.Series(
    ["Англия", "Канада", "США", "Россия", "Украина", "Беларусь", "Казахстан"]
)
display(countries)

0       Англия
1       Канада
2          США
3       Россия
4      Украина
5     Беларусь
6    Казахстан
dtype: object

## ДОСТУП К ДАННЫМ В SERIES

Доступ к элементам осуществляется с использованием [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.loc.html) или [iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.iloc.html).

.loc вызывается с квадратными скобками, в которые передаются метки. В него можно передать как один индекс, так и список, чтобы получилось несколько элементов. 

Например, для получения названия страны по коду "US" можно выполнить следующий код:

In [21]:
countries = pd.Series(
    {
        "UK": "Англия",
        "CA": "Канада",
        "US": "США",
        "RU": "Россия",
        "UA": "Украина",
        "BY": "Беларусь",
        "KZ": "Казахстан",
    },
    name="countries",
)

display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [22]:
print(countries.loc['US'])
# США

США

Для того чтобы достать информацию по нескольким индексам, необходимо обернуть интересующие индексы в список:

In [23]:
print(countries.loc[['US', 'RU', 'UK']])

US       США
RU    Россия
UK    Англия
Name: countries, dtype: object

Примечание. Обратите внимание, что в случае обращения по одному индексу возвращается строка. Если же обратиться по нескольким элементам, возвращается объект Series.

.iloc также вызывается с квадратными скобками и принимает на вход порядковые номера элементов Series (нумерация начинаются с 0). В него можно так же передавать как один индекс, так и диапазон чисел. 

Например, для получения элемента по индексу "KZ" нужно обратиться через .iloc по номеру 6:

In [24]:
print(countries.iloc[6])
# Казахстан

Казахстан

Получим срез из исходной Series с первого по третий элемент:

In [25]:
print(countries.iloc[1:4])

CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

Примечание. Важно, что в последнем примере конечное значение диапазона не включается в результат (берутся элементы с порядковыми номерами от 1 до 4, не включая последний).

На самом деле loc и iloc можно опустить и обращаться к элементам Series напрямую по индексам, например countries[[‘UK’, 'US', ‘UA’]] или countries[[0, 2, 4]]. Оба варианта являются равноправными для Series, однако в дальнейшем мы будем использовать эти операции при обращении к более сложной структуре — DataFrame, а в контексте этой структуры эти варианты уже неравноправны.

### Задание 2.1

Какой параметр используется для того, чтобы задать ассоциативные метки в Series?

Ответ: index

### Задание 2.2

Какие из нижеперечисленных вариантов кода создают Series, представленный на картинке ниже?
```python
а    Апельсин
к        Киви
м    Мандарин
я      Яблоко
Name: fruits, dtype: object
```

A

In [26]:
pd.Series(["Апельсин", "Киви", "Мандарин", "Яблоко"], ["а", "к", "м", "я"])

а    Апельсин
к        Киви
м    Мандарин
я      Яблоко
dtype: object

B

In [27]:
pd.Series(data=["Апельсин", "Киви", "Мандарин", "Яблоко"], index = ["а", "к", "м", "я"], name = "fruits")

а    Апельсин
к        Киви
м    Мандарин
я      Яблоко
Name: fruits, dtype: object

C

In [28]:
pd.Series({'а': "Апельсин", 'к': 'Киви', 'м': 'Мандарин', 'я': 'Яблоко'}, name='fruits')

а    Апельсин
к        Киви
м    Мандарин
я      Яблоко
Name: fruits, dtype: object

D

In [29]:
pd.Series(["Апельсин", "Киви", "Мандарин", "Яблоко"], name='fruits')

0    Апельсин
1        Киви
2    Мандарин
3      Яблоко
Name: fruits, dtype: object

Ответ: B и C

### Задание 2.3
Задан Series:

In [31]:
my_series = pd.Series(data=[5, 6, 7, 8, 9, 10], index=["a", "b", "c", "d", "e", "f"])

Какими из нижеперечисленных способов можно достать из него числа 6, 7 и 9?

A

In [32]:
my_series[['b', 'c', 'e']]

b    6
c    7
e    9
dtype: int64

B

In [33]:
my_series.iloc[1:5]

b    6
c    7
d    8
e    9
dtype: int64

C

In [34]:
my_series.loc[['a', 'b', 'd']]

a    5
b    6
d    8
dtype: int64

D

In [35]:
my_series.iloc[[1, 2, 4]]

b    6
c    7
e    9
dtype: int64

Ответ: A и D

### Задание 2.4

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

In [36]:
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]

Напишите функцию create_medications(names, counts), создающую Series medications, индексами которого являются названия лекарств names, а значениями — их количество в партии counts.

Также напишите функцию get_percent(medications, name), которая возвращает долю товара с именем name от общего количества товаров в партии в процентах.

In [40]:
def create_medications(names, counts):
    return pd.Series(data=counts, index=names, name="medications")

In [43]:
medications = create_medications(names, counts)
display(medications)

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: medications, dtype: int64

In [45]:
def get_percent(medications, name):
    return medications[name] / medications.sum() * 100

In [46]:
get_percent(medications, 'afobazol')

17.5