# 9. Закрепление знаний
 Добавить страницу в мои закладки
✍ Настало время закрепить свои знания финальным заданием.

В его решении вам поможет скринкаст, в котором мы собрали самые важные моменты модуля ↓

Далее вам предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.

Задачи такого плана очень часто встречаются на технических собеседованиях, где проверяют навыки владения библиотекой Pandas.

Скачать датасет в формате csv можно [здесь](https://lms.skillfactory.ru/assets/courseware/v1/8a7b3b3f18edf7a3772760221c97139b/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block/students_performance.zip) (csv-файл находится в zip-архиве — распакуйте архив, прежде чем продолжать работу!)

Информация о столбцах таблицы:

In [1]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [2]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

- gender — пол;
- race/ethnicity — раса/этническая принадлежность;
- parental level of education — уровень образования родителей;
- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.
Вам необходимо прочитать эти данные в DataFrame с именем student_data и ответить на следующие вопросы ↓

### Задание 9.1

Данные о скольких студентах содержатся в таблице?

In [3]:
student_data.shape[0]

1000

In [4]:
Ответ: 1000

### Задание 9.2
Каков балл по письму у студента под индексом 155?

In [12]:
student_data.loc[155, 'writing score']

88

Ответ: 88

### Задание 9.3
Сколько суммарно пропущенных значений в таблице?

In [16]:
student_data.isna().sum().sum()

0

Ответ: 0

### Задание 9.4
Сколько столбцов в таблице имеет тип данных object?

In [19]:
sum(student_data.dtypes == object)

5

Ответ: 5

### Задание 9.5
Какой объём памяти (в килобайтах) занимает таблица?

In [26]:
round(sum(student_data.memory_usage()) / 1024)

63

Ответ: 63

### Задание 9.6
Каков у студентов средний балл по математике?

In [30]:
round(student_data['math score'].mean())

66

Ответ: 66

### Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).

In [34]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

Ответ: C

### Задание 9.8
Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
Округлите ответ до целого числа.

In [35]:
student_data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [38]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

Ответ: 74

### Задание 9.9
Сколько студентов получили 0 баллов по математике?

In [39]:
(student_data['math score'] == 0).sum()

1

Ответ: 1

### Задание 9.10
Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [45]:
standard_launch_math_mean = student_data[student_data['lunch'] == 'standard']['math score'].mean()
free_launch_math_mean = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
assert(standard_launch_math_mean > free_launch_math_mean)
display(round(standard_launch_math_mean))

70

Ответ: 70

### Задание 9.11
Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [50]:
round((student_data['parental level of education'] == "bachelor's degree").sum() / student_data.shape[0] * 100)

12

Ответ: 12

### Задание 9.12
Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [51]:
abs(
    student_data[student_data["race/ethnicity"] == "group A"]["writing score"].median()
    - student_data[student_data["race/ethnicity"] == "group C"]["writing score"].median()
)

6.0

Ответ: 6